<%=javascript_tag "var username = '#{ current_user.channel_name }'; var current_user_id = '#{ current_user.id }'"%>
<h1 class='current'>Welcome to my Chatting application</h1>
<% if user_signed_in? %>
  <div id='sidebar'>
  	<h3>Online users</h3>
    <ul id='channels'>
    	<% @logged_in_users.each do |user|%>
			  <li class='item current' id='user_<%=user.id%>'><%=user.channel_name %></li>
			<% end %>
    </ul>
  </div>
<% end %>
<div id="chat_div"></div>
<!--CHATTING BOX CODE-->

<script type='text/javascript'>
	</script>
